{% extends 'dashboard/dashboard_base.html' %}

{% block main %}

<div class='container'>

    <div class="row g-3">

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="display-5">heading</h4>
                    <label for="" class="display-2">2</label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="display-5">heading</h4>
                    <label for="" class="display-2">2</label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="display-5">heading</h4>
                    <label for="" class="display-2">2</label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="display-5">heading</h4>
                    <label for="" class="display-2">2</label>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row g-3">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4>Logs</h4>
                    <hr>
                    No logs
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}