{% extends 'dashboard/auth_base.html' %}






{% block main %}

<div class="container bg-light card">


    <nav class="nav nav-list mb-2">
        <div class="container p-0 shadow-sm">
            <a href="#!" class="text-dark m-0 shadow-sm btn btn-sm p-2">
                <i class="bi bi-plus"></i>
                Add Email
            </a>
            <a href="#!" class="text-dark m-0 shadow-sm btn btn-sm p-2">
                <i class="bi bi-send"></i>
                send Email
            </a>
            <span class="">
                    {{count}} - email(s)
            </span>
        </div>
    </nav>

    <table id="emails-list" class="table table-bordered table-striped primary bg-white" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>key</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
                <td>{{ service.service_id}}</td>
                <td>{{ service.service_key}}</td>
                <td>
                    <button class="btn">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn">
                        <i class="bi bi-pen"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Host</th>
                <th>From_email</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>


</div>



{% endblock %}

{% block extrascripts %}
<script>
    $(document).ready(function() {
    $('#services-list').DataTable();
} );
</script>

{% endblock %}