{% extends 'dashboard/auth_base.html' %}






{% block main %}

<div class="container bg-light card">


    <nav class="nav nav-list mb-2">
        <div class="container p-0 shadow-sm">
            <button class="shadow-sm btn btn-sm p-2" data-bs-toggle="modal" data-bs-target="#addService">
                <i class="bi bi-plus"></i>
                register a service
            </button>

            <span class="">
                {{count}} - services(s)
            </span>
        </div>
    </nav>

    <table id="services-list" class="table table-bordered table-striped primary bg-white" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>key</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service.service_id}}</td>
                <td>{{ service.service_key}}</td>
                <td>
                    <a href="{% url ''%}" class="btn">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'services-edit'%}" class="btn">
                        <i class="bi bi-pen"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>id</th>
                <th>key</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>


</div>


<!-- Modal -->
<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="addService" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="" class="input-group-text">id</label>
                        <input type="text" name="id" id="id" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}

{% block extrascripts %}
<script>
    $(document).ready(function () {
        $('#services-list').DataTable();
    });
</script>

{% endblock %}