{% extends 'dashboard/dashboard_base.html' %}

{% block main %}

<div class='container'>

    <div class="row g-3">

        <div class="col-md-4">
            <div class="card p-3">
                <small class="w-100 text-center">{{ n_services }} Services</small>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <small class="w-100 text-center">{{ n_users }} Users</small>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <small class="w-100 text-center">{{ n_emails }} Emails</small>
            </div>
        </div>

    </div>

    <div class="row g-3 mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <small>System Logs</small>
                    <hr>
                    {% for log in sys_logs%}
                    <label>{{log}}</label>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}