<table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="en">
    <tbody>
        <tr height="32" style="height:32px">
            <td></td>
        </tr>
        <tr align="justify">
            <td>
                <div>
                    <div></div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0"
                    style="padding-bottom:20px;display: flex;flex-direction:column;width: 100%;">
                    <tbody style="display: flex;flex-direction: column;width: 100%;">
                        <tr align="center" style="width:100%;">
                            <td align="center" valign="top" style="width: 100%;">
                                <div style="width:100%;border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px;width:100%;"
                                    align="center">

                                    {% if logo_url %}
                                    <img src="{{ logo_url }}" width="74" height="74" aria-hidden="true"
                                        style="margin-bottom:16px" alt="{{ email_configuration_email_name }}"
                                        class="CToWUd">
                                    {% endif %}
                                    <div
                                        style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">

                                        {% autoescape off %}
                                        {{ email_content }}
                                        {% endautoescape%}

                                    </div>
                                    <div
                                        style="padding-top:20px;font-size:12px;line-height:16px;color:#5f6368;letter-spacing:0.3px;text-align:center">
                                        Regards from {{ email_configuration_email_name }} <br>
                                        {% if website_url %} <a
                                            style="color:rgba(0,0,0,0.87);text-decoration:inherit">{{ website_url
                                            }}<wbr></a> {% endif %}
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr height="32" style="height:32px">
            <td>
                <div style="text-align:left">
                    <div
                        style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                        {% if reason_for_receiving %}
                        <div> {{ reason_for_receiving }}</div>
                        {% endif %}
                        <div style="direction:ltr">
                            Powered by
                            <a class="m_-8739555827287931345afal"
                                style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                                janjas
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- 
<!DOCTYPE html>
<html lang="en">

<body
    style="width: 100%;padding: 10px;font-family: Arial, Helvetica, sans-serif;display: flex;justify-content: center;align-items: center;">

    <table style="width: 100%;">
        <tbody>

            <p>
                
            </p>

            <p>Regards</p>
            <h4>{{ email_name }}</h4>

        </tbody>
        <tfoot style="padding-top: 20px;">

            <center>
                powered by janjas
            </center>

        </tfoot>
    </table>

</body>

</html> -->